{% extends 'ApplicationCoreBundle::layout.html.twig' %}

{% block content %}
    ← <a href="{{ path('show_task', {'id' : task.id}) }}">task {{ task.fullTitle }}</a>

    <h2>Solutions</h2>

    <div class="col-md-9" role="main">
        {% for solution in solutions %}
            <div class="bs-callout bs-callout-info">
                <h3 class="page-header" id="solution-{{ solution.id }}">
                    Solution #{{ solution.id }} <a class="btn btn-info btn-xs" href="{{ path('solution_show', {'id': solution.id}) }}">Show solution</a>
                </h3>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
            <ul class="nav bs-docs-sidenav">
                {% for solution in solutions %}
                    <li><a href="#solution-{{ solution.id }}">Solution #{{ solution.id }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


