{% extends 'ApplicationCoreBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@ApplicationCoreBundle/Resources/public/js/rating.js'
        '@ApplicationCoreBundle/Resources/public/js/solution.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@FOSCommentBundle/Resources/assets/js/comments.js' %}
        {% include 'ApplicationCoreBundle:Solution:_comment.html.twig' with {'solution': solution, 'asset_url' : asset_url } %}
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@ApplicationCoreBundle/Resources/public/css/comment.css'
        '@ApplicationCoreBundle/Resources/public/css/rating.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <h1>Task {{ solution.task.fullTitle }}</h1>

    {% autoescape 'html' %}
        <div id="task-description" class="collapse out">{{ solution.task.description|raw }}</div>
    {% endautoescape %}

    <button id="descr-btn" type="button" class="btn btn-info" data-toggle="collapse" data-target="#task-description" aria-expanded="true" aria-controls="task-description">
      Show description
    </button>

    <h2>Solution #{{ solution.id }}</h2>
    <div class="editor-container">
        {{ include_ace_editor() }}
        {% autoescape 'html' %}
            {{ solution.code|ace_editor_read_only(solution.codeMode)|raw }}
        {% endautoescape %}
    </div>

    {{ form_start(rating_form, {'action': path('solution_rating_save', {'id': solution.id })}) }}
        {{ form_rest(rating_form) }}
    {{ form_end(rating_form) }}

    <div id="fos_comment_thread"></div>
{% endblock %}
