{% extends 'ApplicationCoreBundle:Task:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@ApplicationCoreBundle/Resources/public/js/rating.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    ← <a href="{{ path('tasks_list') }}">all tasks</a>
    <h1>{{ task.fullTitle }}</h1>
    <div class="well">{{ task.description|raw }}</div>

    {% if (is_user_solution) %}
        {% if solution is not null %}
            <a class="btn-success btn" href="{{ path('user_solution_feedback', {'id' : solution.id, 'username': app.user.username}) }}">My solution</a>
        {% endif %}
    {% else %}
        <a class="btn-success btn" href="{{ path('add_solution', {'id' : task.id}) }}">Add solution</a>
    {% endif %}

    {% if (is_user_solution) %}
        <a class="btn btn-info" href="{{ path('task_solutions_list', {'id': task.id}) }}">Review solutions</a>
    {% endif %}

{% endblock %}
