{% extends 'ApplicationCoreBundle:Task:index.html.twig' %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#{% javascripts#}
        {#'@ApplicationCoreBundle/Resources/public/js/rating.js'#}
    {#%}#}
        {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
{#{% endblock %}#}

{% block content %}
    <h1>{{ task.title }} (<a href="{{ path('tasks_list') }}"><-back</a>)</h1>
    <div class="well">{{ task.description }}</div>
    <a class="btn-success btn" href="{{ path('add_solution', {'id' : task.id}) }}">Add solution</a>

    <h2>Solutions</h2>
    {% for solution in solutions %}
        #{{ solution.id }}
        <pre>
            {{ solution.code }}
        </pre>
    {% else %}
        <div role="alert" class="alert alert-info">
            <p>Not found solutions.</p>
        </div>
    {% endfor %}

    {% include 'ApplicationCoreBundle:Rating:controller.html.twig' %}
{% endblock %}
