{% extends 'ApplicationCoreBundle:Task:index.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@ApplicationCoreBundle/Resources/public/js/rating.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    ← <a href="{{ path('tasks_list') }}">all tasks</a>
    <h1>{{ task.fullTitle }}</h1>
    <div class="well">{{ task.description|raw }}</div>
    <a class="btn-success btn" href="{{ path('add_solution', {'id' : task.id}) }}">Add solution</a>
    <a class="btn-success btn" href="#">My solution (todo)</a>
    <a class="btn btn-info" href="{{ path('task_solutions_list', {'id': task.id}) }}">Review solutions</a>
{% endblock %}
